.PriceContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 15px;

    p {
        margin: 2px 0px;
    }

    .FullPrice {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.005em;
        text-decoration-line: line-through;
        color: #B5B5B6;
    }

    .Price {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.005em;
        color: #DA4B4F;
    }

    .installments {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.005em;
        color: #848587;
        b{
            color: black;
        }
    }
}